.☳{
  float: left;
}

.☳_1{
  width: 8.333%
}

.☳_2{
  width: 16.666%
}

.☳_3{
  width: 25%
}

.☳_4{
  width: 33.333%
}

.☳_5{
  width: 41.666%
}

.☳_6{
  width: 50%
}

.☳_7{
  width: 58.333%
}

.☳_8{
  width: 66.666%
}

.☳_9{
  width: 75%
}

.☳_10{
  width: 83.333%
}

.☳_11{
  width: 91.666%
}

.☳_12{
  width: 100%
}